/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

/* Global */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root{
  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Roboto Slab', serif;

  --fw-light: 300;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-sbold: 600;
  --fw-bold: 700;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-small: .75rem;
  --fs-big: 4rem;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #D6B229;

  --bs: .25em .25em .75em rgba(0, 0, 0, .25),
        .125em .125em .25em rgba(0, 0, 0, .15);
}

/* Body Styling */
body{
  background: var(--clr-light);
  font-family: var(--ff-primary);
  color: var(--clr-dark);
  font-size: var(--fs-body);
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

h1,
h2,
h3{
  line-height: 1.1;
  margin: 0;
}

h1{
  font-size: var(--fs-h1);
}

h2{
  font-size: var(--fs-h2);
}

h3{
  font-size: var(--fs-h3);
}

.title{
  margin-bottom: .25em;
}

.subtitle{
  margin: 0;
  font-size: var(--fs-h3);
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: .25em 1em;
}

.accent-title{
  font-family: var(--ff-secondary);
  font-size: var(--fs-h2);
}

.btn{
  display: inline-block;
  padding: .5em 1.5em;
  margin-top: 1em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-med);
  border-radius: 12px;
  transition: transform 200ms ease-in-out;
}

.btn:hover{
  transform: scale(1.05);
}

/* Content */
.content{
  padding: 5em 5em 20em 12em;
  transition: .4s;
  transition-delay: .2s;
}

.content.open{
  padding-left: 28em;
  transition: .4s;
}

/* Home */
.home{
  position: relative;
  display: grid;
  width: min-content;
  margin: 0 auto;
  grid-column-gap: 1em;
  grid-template-areas: 
    "img title"
    "img subtitle";
  grid-template-columns: min-content max-content;
}



.home .title{
  font-weight: var(--fw-light);
}

.home .title strong{
  display: block;
}

.home .subtitle{
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -2em;
  width: calc(100% + 2em);
}

.home img{
  display: block;
  max-width: 100%;
  grid-area: img;
  min-width: 250px;
  position: relative;
  z-index: 2;
  box-shadow: var(--bs);
}

.socials-big ul{
  display: flex;
  justify-content: center;
  margin: .5em 0;
  padding: 4em 0 0;
}

.socials-big a{
  text-decoration: none;
  color: var(--clr-dark);
  transition: .6s;
}

.socials-big ul li{
  list-style: none;
  font-size: var(--fs-big);
}

.social-link-big:hover{
  color: var(--clr-accent);
}


.social-item-big{
  margin:  0 .5em;
  color: red;
}

.social-link-big{
  padding: .5em;
}

/* About Me */
.about-grid{
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-areas: 
    "title img"
    "subtitle img"
    "text img";
  grid-column-gap: 2em;
}


.about-grid .title{
  grid-area: title;
}

.about-grid .subtitle{
  grid-column: 1 / -1;
  grid-row: 2;
  left: -2em;
  width: calc(100% + 14em);
}

.about-grid img{
  width: 400px;
  grid-area: img;
  box-shadow: var(--bs);
}

.about-body{
  display: flex;
  margin-top: 2em;
  justify-content: space-around;
}

.about-body ul{
  list-style-type: none;
  padding-top: .5em;
}

.hobbies i{
  margin-right: .5em;
}

.strenght-weaknesses i {
  margin-right: .5em;
}


.video{
  margin: 3em 0;
  display: block;
  text-align: center;
}

.video h3{
  padding-bottom: .5em;
}

.video video{
  width: 70%;
}


.about .accent-title {
  margin-top: 2em;
}

/* Experiences */

.job{
  display: flex;
  min-height: 300px;
  width: 80%;
  margin: auto;
  padding-bottom: 2em;
}

.job-title{
  text-align: right;
  align-self: center;
  padding-right: 1em;
  flex: 1;
}

.job-title h3{
  font-size: var(--fs-body);
}

.role{
  padding-bottom: 1em;
}

.firm{
  padding-top: 1em;
}

.h-line{
  content: '';
  border: 1px solid black;
  width: calc(100% + 1em);
}

.v-line{
  content: '';
  border: 1px solid black;
}

.job-description{
  padding-left: 5em;
  align-self: center;
  flex: 3;
}

.education{
  display: flex;
}

.edu-type{
  flex: 1;
}

.edu-type + .edu-type{
  padding-left: 1em;
}

.edu-type p{
  font-size: 1rem;
  padding: 1em 0;
}



/* Portfolio */
.portfolio{
  text-align: center;
}

.portfolio .title{
  color: var(--clr-accent);
  position: relative;
}

.portfolio .title::after{
  content: '';
  display: block;
  width: 3em;
  height: 2px;
  margin: .5em auto 1em;
  background: var(--clr-dark);
  opacity: .5;
}

.projects{
  display: flex;
  margin: 0 auto;
  max-width: 90%;
}

.project{
  flex: 1 1 0;
}

.btn{
  flex-grow: 1;
}

.project h3{
  margin-top: 2em;
  margin-bottom: 1em;
}

.project + .project{
  margin-left: 2em;
}

.red{
  color: red;
}

/* Explore */
.recommendation h3{
  padding: 1em .5em 0 0;
}

.recommendation p{
  padding-bottom: .5em;
}

.yt{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.yt iframe{
  padding: 1em;
  width: 460px;
  height: 230px;
}

/* Navigation */
.sidebar {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 3;
  width: 120px;
  height: 100vh;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: rgba(10, 10, 10, .65);
  box-shadow: 0 8px 32px rgb(2, 4, 24);
  border-right: 2px solid rgba(255, 255, 255, .09);
  transition: .4s ease-in-out;
}

.sidebar.open {
  width: 360px;
}

.logo {
  width: 100%;
  height: 240px;
  padding-top: 2.5em;
  display: grid;
  align-items: center;
  justify-items: center;
}

.logo h3 {
  color: #fff;
  font-size: var(--fs-h2);
  margin-top: .75em;
  font-variant: small-caps;
  pointer-events: none;
  scale: 0;
  opacity: 0;
}

.sidebar.open .logo h3 {
  scale: 1;
  opacity: 1;
  transition: .4s;
  transition-delay: .2s;
}

.nav-title {
  color: #dadada;
  margin: 2.5em 0 1.125em;
  pointer-events: none;
  opacity: 0;
}

.sidebar.open .nav-title {
  opacity: 1;
  transition: .4s;
  transition-delay: .2s;
}

.sidebar nav {
  padding: 0 1.875em;
}

.nav-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  width: 100%;
  height: 56px;
  padding: 0 1rem;
  margin: .5rem 0;
  color: #fff;
  transition: .3s;
  font-size: 0;
}

.nav-item.active {
  background: #ff328e !important;
}

.nav-item:hover {
  background: rgba(255, 255, 255, .1);
}

.nav-item a{
  padding: 0;
  margin: 0;
  all: unset;
}

.nav-item i {
  font-size: 1.625rem;
}

.nav-item span {
  font-size: var(--fs-body);
  margin-left: .7em;
  opacity: 0;
  pointer-events: none;
}

.sidebar.open nav .nav-item span {
  opacity: 1;
  pointer-events: visible;
  transition: .4s;
  transition-delay: .2s;
}

.toggle {
  cursor: pointer;
  position: absolute;
  color: #fff;
  top: 180px;
  right: -10px;
  font-size: 26px;
  line-height: 50%;
  text-align: center;
  border-radius: 50%;
  padding: .125em 0 .125em .125em;
  background: linear-gradient(
      90deg,
      transparent 50%,
      rgba(10, 10, 10, .65) 50%
  );
}

.sidebar.open .toggle {
  transform: translateY(45px);
}

.toggle i {
  transition: .4s linear;
}

.sidebar.open .toggle i {
  transform: rotateY(180deg);
}

/* Footer */
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 1em 0;
  font-size: var(--fs-h3);
  height: 10rem;
}

footer a{
  color: inherit;
  text-decoration: none;
}

footer a i{
  color: var(--clr-accent);
}

.footer-link{
  font-weight: var(--fw-bold);
}

.footer-link:hover,
.social-link:hover{
  opacity: .7;
}

.footer-link:hover{
  text-decoration: underline;
}

.socials{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: .5em 0;
  padding: 0;
}

.social-item{
  margin:  0 .5em;
}

.social-link{
  padding: .5em;
}

.impressum{
  font-size: var(--fs-small);
}

/* Media Queries */
@media (max-width: 1024px) {
  .sidebar{
    width: 7em;
  }

  .sidebar.open{
    width: 16.25em;
  }

  .sidebar.open .logo h3{
    font-size: 1.625em;
  }

  .content{
    padding: 5em 5em 20em 10em;
    transition: .4s;
    transition-delay: .2s;
  }
  
  .content.open{
    padding-left: 10em;
    transition: .4s;
  }

  .about-grid{
    display: block;
    width: 100%;
  }

  .about-grid .subtitle{
    width: 100%;
  }

  .about-body{
    display: block;
    width: 100%;
  }

  .hobbies{
    margin-bottom: 2em;
  }

  .projects{
    flex-direction: column;
  }

  .project + .project{
    margin-left: 0;
    margin-top: 2em;
  }

  .job{
    width: 100%;
  }

  .job-title h3{
    font-size: .75rem;
  }

  .job-title p{
    font-size: .75rem;
  }

  .edu-type h3{
    font-size: .75rem;
  }

  .edu-type p{
    font-size: .75rem;
  }

}